<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="M_PI" value="3.14159"/>

	<xacro:macro name="livox_mid360_gazebo" params="visualize:=True name:=default">
		<gazebo reference="livox_mid360_${name}_link">
			<sensor name='gpu_lidar_${name}' type='gpu_lidar'>"
				<pose relative_to='livox_mid360_${name}_link'>0 0 0 0 0 0</pose>
				<topic>/$(arg robot_name)/livox_mid360_${name}</topic>
				<update_rate>10</update_rate>
				<gz_frame_id>livox_mid360_${name}_link</gz_frame_id>
				<ray>
					<scan>
						<horizontal>
							<samples>100</samples>
							<resolution>1</resolution>
							<min_angle>${0}</min_angle>
							<max_angle>${2*M_PI}</max_angle>
						</horizontal>
						<vertical>
							<samples>360</samples>
							<resolution>1</resolution>
							<min_angle>${-7.22/180*M_PI}</min_angle>
							<max_angle>${55.22/180*M_PI}</max_angle>
						</vertical>
					</scan>
					<range>
						<min>0.08</min>
						<max>10.0</max>
						<resolution>0.01</resolution>
					</range>
				</ray>
				<always_on>1</always_on>
				<visualize>${visualize}</visualize>
			</sensor>
		</gazebo>
	</xacro:macro>
</robot>
