<?xml version="1.0"?>

<robot name="vision_box_plugins" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="vision_box_common_gazebo_plugins">
    
    <gazebo>
    
      <plugin name="laser1_servo_controller" filename="libhector_servo_plugin.so">
        <alwaysOn>true</alwaysOn>
        <controlRate>50.0</controlRate>
        <updateRate>0.0</updateRate>
        <firstServoName>laser1/x</firstServoName>
        <firstServoAxis>1 0 0</firstServoAxis>
        <secondServoName>laser1/y</secondServoName>
        <secondServoAxis>0 1 0</secondServoAxis>
        <torque>0.5</torque>
        <robotNamespace>/</robotNamespace>
        <topicName>laser1/command</topicName>
        <jointStateName>joint_states</jointStateName>
        <proportionalControllerGain>8.0</proportionalControllerGain>
        <derivativeControllerGain>0.0</derivativeControllerGain>
        <maxVelocity>0.0</maxVelocity>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>sensor_head</robotNamespace>
      </plugin>
    </gazebo>
    
  </xacro:macro>
</robot>
