<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
      
  <xacro:macro name="automess_geiger_counter" params="name parent *origin">
      
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_frame" />
    </joint>
    
    <link name="${name}_frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
            <box size="0.1385 0.0885 0.037" />
            </geometry>
            <material name="DarkGrey">
            <color rgba="0.3 0.3 0.3 1" />
            </material>
        </visual>
    </link>      

  </xacro:macro>
</robot>
