<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find hector_xacro_tools)/urdf/sensor_macros.urdf.xacro" />
  
  <xacro:macro name="flir_a35_camera_model" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_frame"/>
    </joint>
    
    <link name="${name}_frame">
      <xacro:inertial_sphere mass="0.01" diameter="0.07" />
      <visual>
        <origin xyz="${0.106*-0.5} 0 0" rpy="0 0 0" />
        <geometry>
          <!--Dimensions taken from http://www.flir.com/automation/display/?id=56341-->
          <box size="0.106 0.04 0.043" />        
        </geometry>
        <material name="DarkGrey">
          <color rgba="0.3 0.3 0.3 1"/>
        </material>  
      </visual>
      <collision>
        <origin xyz="${0.106*-0.5} 0 0" rpy="0 0 0" />
        <geometry>
          <!--Dimensions taken from http://www.flir.com/automation/display/?id=56341-->
          <box size="0.106 0.04 0.043" />        
        </geometry>
      </collision>
    </link>
    
    <xacro:add_optical_frame name="${name}" />
    
    <gazebo reference="${name}_frame">
      <material>Gazebo/Grey</material>
    </gazebo>   
    
  </xacro:macro>
</robot>

